* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: rgb(248, 240, 6);
}

.wrapper {
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgb(36, 35, 35);

}

span {
    display: block;
    text-align: center;
    font-weight: 100;
}

p {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 1.5s;
}

button {
    display: block;
    background-color: rgb(239, 174, 10);
    border: none;
    padding: 5px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}